@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

body{
    margin: 0;
    padding: 0;
    width: 100%;
}

.box_1{

    width: 100%;
    border: 0;
    margin: 0;
    padding-bottom: 10px;
    background-image: url(https://biblored.gov.co/sites/default/files/styles/max_767x767/public/2025-03/whatsapp-image-2024-08-21-at-6.47.39-pm-yobaneth-alexis-pineros-cadena.jpg?itok=HkiZAsYm), url(https://www.sainc.co/wp-content/uploads/2018/12/DJI_0143-e1666042001547.jpg);
    background-position: top;
    text-align:center;
}

.box_box{
    width: 100%;
    border: 0;
    margin: 0;
    padding-bottom:10px;
    background: linear-gradient(#120000,transparent);
    font-size: 18px;
}

.img_1{
    margin-right: 150px;
}

.box_2{
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

.form_1::before{
    content: "";
    position: relative;
    top: -40px;
    left: 110px;
    transform: translateX(-50%);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid whitesmoke;
}

.header_form{
    border-bottom: 2px solid #0008;
}

form{
    width: 80%;
    position: relative;
    margin: auto;
    padding-left: 15px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
    box-sizing: border-box;
    box-shadow: 0 0 20px 5px #0008;
}



label{
    font-family: Arial;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    padding-left: 20px;
    padding-top: 40px;
    margin: 0;
    margin-bottom: 25px;
    color:rgb(237, 235, 235)
}

img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin: 0;
    box-shadow: 0 0 5px 0.5px yellow;
}

h2{
    margin: 0;
    margin-top: 10px;
    font-family: "BBH Sans Hegarty", sans-serif;
    font-size: 1.5em;
    letter-spacing: 3px;
    padding-bottom: 5px;
}

h3{
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 15px;


}

p{
    margin: 0;
    margin-bottom: 10px;
}


.Rueda_y_texto {
    width: 98%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #f0f9f0; 
    border: 1px solid #d4edda;
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
    box-sizing: border-box;
}


.circulo-progreso {
    --valor-progreso: 0;       
    --color-progreso: #28a745;
    --color-fondo: #e9ecef;  
    
    width: 400px;
    height: 400px;
    border-radius: 50%; 
    margin-left: 30%;
    margin-right: 100px;
    margin-top: 5%;
    margin-bottom: 5%;
    
    

    background: conic-gradient(
        var(--color-progreso) calc(var(--valor-progreso) * 1%), 
        var(--color-fondo) 0
    );


    display: grid;
    place-items: center;
}


.circulo-interior {
    width: 370px;  
    height: 370px;
    border-radius: 50%;
    background-color: #ffffff; 
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}


.puntuacion {
    font-size: 80px;
    font-weight: 700;
    color: #333;
}


.puntos-texto {
    font-size: 30px;
    color: #555;
}

.texto-resultado {
    width: 50%;
    height: 100%;
    background:#fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #0003;
    margin-left: auto;
    padding: 50px;
    box-sizing: border-box;

}


.texto-resultado h3 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #333;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #0008;
}
.texto-resultado h4 {
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    color: #333;
    margin: 0;
    margin-top: 15px;
}
.sigue{
    font-size: 20px;
    padding-top: 15px;
    text-align: left;
}
.Gracias{
    font-family:"irish Grover", cursive;
    font-size: 40px;
    text-align: center;
    color: #0009;
    margin-top: 50px;
}




@media (max-width: 768px) {
    .form_1::before{
    content: "";
    position: relative; 
    top: -55px;
    left: 58px;
    transform: translateX(-50%);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid whitesmoke;
}

    .box_box h1 {
        font-size: 1.2rem;
        padding: 20px 15px 0 15px; 
        margin-bottom: 15px;
    }

    .box_box img {
        width: 50px; 
        height: 50px;
    }

    .img_1 {
        margin-right: 60px;
    }

    
    .form_1, form {
        width: 95%; 
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box; 
    }
    
    h2 {
        font-size: 1.1rem;
        letter-spacing: 1px;
    }

    .Rueda_y_texto {
        flex-direction: column;
        align-items: center; 
        padding: 10px;
        width: 100%; 
        box-sizing: border-box;
    }

    .circulo-progreso {
        width: 250px;  
        height: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .circulo-interior {
        width: 225px; 
        height: 225px;
        align-items: center;
    }

    .puntuacion {
        font-size: 50px;
    }

    .puntos-texto {
        font-size: 20px;
    }

    .texto-resultado {
        width: 100%;
        height: auto; 
        margin-left: 0; 
        padding: 20px;
        box-sizing: border-box; 
    }

    .texto-resultado h3 {
        font-size: 1.6rem;
    }

    .texto-resultado h4 {
        font-size: 1.1rem;
    }

    .sigue {
        font-size: 0.95rem; 
    }

    .Gracias {
        font-size: 1.5rem; 
        margin-top: 20px;
    }
    
    .form_input {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
    }
    
    .form_input .checkbox {
        margin-top: 3px; 
    }

    .form_input label {
        flex: 1;
        padding-left: 8px;
        font-size: 0.9rem;
        text-align: left;
        line-height: 1.3;
    }
    
    h3, .secciones {
        font-size: 1rem;
        text-align: left;
    }
    
    .help_guide, .help_guide_2 {
        text-align: left;
        font-size: 0.9rem;
    }

    .submit_1 {
        padding: 12px 25px;
        font-size: 1rem;
    }
}


@media (max-width: 1180px) and (min-width: 769px) {
    form {
        width: 90%;
        padding-left: 0; 
    }
    .form_1::before {
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
    }
    .Rueda_y_texto {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 95%; 
        margin-left: auto;
        margin-right: auto;
    }
    .circulo-progreso {
        width: 300px;
        height: 300px;
        margin: 20px auto 30px auto; 
    }
    .circulo-interior {
        width: 275px; 
        height: 275px;
        align-items: center; 
    }
    .puntuacion {
        font-size: 60px; 
    }
    .puntos-texto {
        font-size: 25px; 
    }
    .texto-resultado {
        width: 90%; 
        margin-left: 0;
        padding: 30px;
        box-sizing: border-box;
    }
    .texto-resultado h3 {
        font-size: 35px; 
    }
    .Gracias {
        font-size: 30px;
        margin-top: 30px;
    }
}
