body{
    margin: 0;
    padding: 0;
    width: 100%;
}

.box_1{

    width: 100%;
    border: 0;
    margin: 0;
    padding-bottom: 10px;
    background-image: url(https://biblored.gov.co/sites/default/files/styles/max_767x767/public/2025-03/whatsapp-image-2024-08-21-at-6.47.39-pm-yobaneth-alexis-pineros-cadena.jpg?itok=HkiZAsYm), url(https://www.sainc.co/wp-content/uploads/2018/12/DJI_0143-e1666042001547.jpg);
    background-position: top;
    text-align:center;
}

.box_box{
    width: 100%;
    border: 0;
    margin: 0;
    padding-bottom:10px;
    background: linear-gradient(#120000,transparent);
    font-size: 18px;
}

.img_1{
    margin-right: 150px;
}

.box_2{
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

.form_1::before{
    content: "";
    position: relative;
    top: -40px;
    left: -125px;
    transform: translateX(-50%);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid whitesmoke;
}

.header_form{
    border-bottom: 2px solid #0008;
}

form{
    width: 80%;
    position: relative;
    margin: auto;
    padding-left: 15px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
    box-sizing: border-box;
    box-shadow: 0 0 20px 5px #0008;
}

.secciones{
    margin: 0;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 21px;
    text-shadow: 0 0 0.5px red;
}

.help_guide{
    text-align: left;
    margin: 0;
    margin-top: 15px;
    font-size: 17px;
}

.help_guide_2{
    text-align: left;
    margin: 0;
    font-size: 17px;
}

.submit{
    margin-top: 30px;
    padding: 0;
    text-align: left;
}

.submit_1{
    padding: 7px 15px;
    width: 30%;
    border:2px solid #0009;
}

input{
    width: 50%;
    box-sizing: border-box;
    background-color: #efefefef;
    padding: 7px 12px;
    border: none;
    border-left: 2px solid #0009;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 15px;
}

.form_input{
    text-align: left;
    padding-top: 3px;
    padding-left: 5px;
}

.input_2{
    width: 90%;
    box-sizing: border-box;
}

textarea{
    width: 300px;
    box-sizing: border-box;
    background-color: #efefefef;
    padding: 7px 12px;
    border: none;
    border-left: 2px solid #0009;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 15px;
    font-family: Arial;
    overflow: hidden;
    resize: none;
}

select{
    width: 200px;
    box-sizing: border-box;
    padding: 7px 9px;
    border: none;
    border-left: 2px solid #0009;
    background-color: #efefefef;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 15px;
}

.checkbox{
    width: 15px;
    margin: 0;
    margin-top: 10px;
    margin-right: 5px;
}

label{
    font-family: Arial;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    padding-left: 20px;
    padding-top: 40px;
    margin: 0;
    margin-bottom: 25px;
    color:rgb(237, 235, 235)
}

img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin: 0;
    box-shadow: 0 0 5px 0.5px yellow;
}

h2{
    margin: 0;
    margin-top: 10px;
    text-shadow: 0 0 .2px red;
}

h3{
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 15px;


}

p{
    margin: 0;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
}

@media (max-width: 600px) {
  form { 
    width: 95% !important; 
    padding: 10px 15px; 
  }
  h1, h2 {
    font-size: 1.5em; 
  }
  select, textarea {
    width: 100% !important;
    padding: 8px; 
  }
  .checkbox{
    width: 10px;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    margin-top: 10px;
  }
  label{
    display: inline;
  }
  .form_1::before{
    content: "";
    position: relative;
    top: -40px;
    left: -117px;
    transform: translateX(-50%);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid whitesmoke;
  }
}

@media (max-width: 1180px) and (min-width: 769px) {
    .box_box {
        display: flex;
        flex-direction: column; 
        align-items: center;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    h1 {
        width: 90%; 
        font-size: 30px;
        padding-top: 0;
        margin-bottom: 20px;
    }

    .img_1 {
        margin-right: 50px; 
        width: 70px;
        height: 70px;
    }
    .img_2 {
        margin-left: 50px;
        width: 70px;
        height: 70px;
    }

    form {
        width: 85%;
        padding-left: 15px;
    }

    .form_1::before {
        top: -40px;
        left: 50%; 
        transform: translateX(-50%);
        border-bottom: 30px solid whitesmoke;
    }
    input[type="text"],
    input[type="email"],
    input[type="number"] {
        width: 60%; 
    }
    select {
        width: 250px; 
    }
    .input_2 {
        width: 95%; 
    }
    textarea {
        width: 95%; 
    }
    .form_input {
        padding-left: 10px;
    }
    .checkbox {
        width: 20px; 
    }
    label {
        font-size: 16px;
    }
    .submit {
        text-align: center;
    }
    .submit input[type="submit"] {
        width: 50%;
        padding: 10px 0;
        font-size: 1.2em;
        margin: 20px auto;
        display: block;
    }
}