<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Innovacion San Cristobal</title>
    <link rel="stylesheet" href="{% static 'css/styles_s.css' %}">
    <script src="{% static 'js/motion_s.js' %}" defer></script>
</head>
<body>
    <div class="box_1">
        <div class="box_box">
            <div class="header">
                <h1 class="h_header">INNOVACION EN PROYECTOS E IDEAS SAN CRISTOBAL</h1>
                <p class="p_header">La innovacion convierte ideas en soluciones con valor social.</p>
                <p class="p_header">Tranforma tus ideas en soluciones reales para tu comunidad</p>
            </div>
            <div class="buttom_area">
                <a href="{% url 'formulario' %}" class="cta-button">
                    ✨ ENVIA TUS PROPUESTAS AQUI ✨ 
                </a>
            </div>
        </div>
    </div>
    <div class="box_2">
        <h2>APRENDE A TRANSFORMAR TU COMUNIDAD</h2>
        <div class="box_2_1">      
            <div class="Explain">
                <h3>📢 ¡El Momento de Innovar es Ahora!</h3>
                <p>La "Innovación en Proyectos e Ideas San Cristóbal" es una invitación abierta a la creatividad colectiva para construir una mejor comunidad, juntos. Esta es tu oportunidad de llevar tu visión a la acción, proponiendo soluciones novedosas y prácticas que impacten directamente la calidad de vida en San Cristóbal.</p>
                <h3>✨ Ejes de la Transformacion</h3>
                <p>Tus propuestas deben enfocarse en generar mejoras reales y escalables en nuestra localidad. Buscamos soluciones que abarquen las siguientes áreas clave: inclusión social, digitalización, tecnología, sostenibilidad ambiental, convivencia ciudadana y el desarrollo cultural. Tu idea es el motor del cambio: queremos que transformes un problema en una solución con valor social para San Cristóbal.</p>
            </div>
            <div class="space_image_1"></div>
        </div>
        <div class="box_2_2">
            <div class="space_image_2"></div>
            <div class="Explain_2">
                <h3>Criterios de evaluacion🔍</h3>
                <p>Tu propuesta será valorada si demuestra un Alto Impacto y Viabilidad: debe ser innovadora y atacar problemas reales de San Cristóbal, generando un cambio cultural o de convivencia ciudadana positivo. Es esencial que beneficie a un número significativo de personas, y que sea estable y replicable a futuro, asegurando su sostenibilidad y el cumplimiento total de la normativa vigente, teniendo en cuenta los recursos disponibles de la localidad.</p>
                <h3>Compromiso con la Transparencia✅</h3>
                <p>Cada proyecto que se considere como viable será revisado por el area de innovacion de la alcaldia, que aplicará estos criterios de manera rigurosa y objetiva. La transparencia es nuestro compromiso para que las mejores ideas sean las que impulsen el futuro de nuestra comunidad.
                </p>
            </div>
        </div>
    </div>
    <div class="box_2">
    <h2>ESTAMOS PROGRESANDO</h2> 
        <div class="box_2_2">
            <div class="space_image_3"></div>   
            <div class="Explain_2">
                <h3>☀️San Cristobal inaugura el primer sistema solar en una Alcaldia Local de Bogota☀️ </h3>
                <p>El proyecto "Bogotá, mi Ciudad, mi Casa" impulsó la instalación de un moderno sistema de 30 paneles solares 'on grid' en la Alcaldía local de San Cristóbal (con una inversión de $98 millones), buscando una gestión pública más sostenible.</p>

                <p>Este sistema de energía limpia generará entre el 40% y 50% del consumo total de la Alcaldía, lo que representa un ahorro anual cercano a $23 millones en el pago del servicio eléctrico. Además, al ser 'on grid' (sin baterías), evita la producción de residuos contaminantes.</p>

                <p>Esta iniciativa reduce la huella de carbono, consolida la transición a energías renovables y demuestra el compromiso de la Alcaldía con el desarrollo sostenible y la eficiencia energética.</p>
            </div>
        </div>
        <div class="box_2_1">
            <div class="Explain">
                <h3>🤖Chat bot "Chatico"🤖</h3>
                <p>Chatico es el asistente virtual del Distrito que facilita el acceso a información sobre trámites, servicios y campañas públicas en las diferentes localidades de Bogotá. Es una herramienta innovadora que utiliza inteligencia artificial para agilizar la atención ciudadana, brindar información actualizada y promover la participación en la solución de retos locales. A través de Chatico, las y los ciudadanos pueden consultar temas como Sisbén, impuestos, educación, movilidad, servicios públicos, ayudas y subsidios distritales, programas sociales, pico y placa, clima, cortes de agua, vacunación y noticias diarias de la ciudad.</p>
                <p><a class="a_1" href="https://api.whatsapp.com/send/?phone=%2B573160231524&text=Hola&type=phone_number&app_absent=0">Accede a el dando click aqui☝️</a> o al numero de Whatsapp (+57) 316 023 1524</p>
            </div>
            <div class="space_image_4"></div>
        </div>
    </div>
    <div class="box_3">
        <div class="box_box_2">
            <div>
                <h2 class="contact">CONTACTANOS</h2>
                <p class="info"><img src="https://cdn-icons-png.freepik.com/512/3670/3670132.png" alt="Logo Gmail"><a href="https://www.tiktok.com/@alcaldiasancristobal">@alcaldiasancristobal</a></p>

                <p class="info"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/2048px-2021_Facebook_icon.svg.png" alt="Logo facebook"><a href="https://www.facebook.com/alcaldialocaldesancristobal/?locale=es_LA">Alcaldia Local de San Cristobal</a></p>

                <p class="info"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/2048px-Instagram_logo_2022.svg.png" alt="Logo ig"><a href="https://www.instagram.com/alcaldialocaldesancristobal/">@alcaldialocaldesancristobal</a></p>
            </div>
        </div>
    </div>
</body>
</html>